---
title: Alexei Sholik
home: true
---

<!-- Thanks to Niklas Krüger for the favicon. Visit his page at nkspace.deviantart.com -->

{% include common_prologue.html %}

<div id="preface-container">
  <div id="preface">
    <p>Hi!</p>
    <p>My name is Alex. I'm a generalist developer residing in the beautiful city of Kiev, Ukraine.</p>
    <p>I've done x86 assembly coding, 2D/3D graphics programming, game dev, iOS dev, dev tools dev, and more. I'm also passionate about CS and programming language design.</p>
    <p>If you'd like to hire me, please take a look at my <a href="resume.html">Résumé</a>.</p>
  </div>
</div>

<div id="home-footer">
  <div id="nav-links">
    <!--<a class="nav" href="about.html">about</a>&nbsp;-->
    <a class="nav" href="projects.html">projects</a>&nbsp;
    <a class="nav" href="resume.html">résumé</a>&nbsp;
    <!--<a class="nav" href="labs.html">labs</a>&nbsp;-->
    <span id="spec">✧</span>&nbsp;
    <a class="nav" href="mailto:alcosholik@gmail.com">email</a>
  </div>

  <div id="networks">
    <a href="http://github.com/alco" target="blank"><img src="i/github.png" title="GitHub"></a>
    <a href="http://coderwall.com/alco" target="blank"><img src="i/coderwall.png" title="Coderwall"></a>
    <a href="http://stackoverflow.com/users/213682" target="blank"><img src="i/stackoverflow.png" title="Stack Overflow"></a>
    <a href="http://twitter.com/true_droid" target="blank"><img src="i/twitter.png" title="Twitter"></a>
    <a href="http://facebook.com/alexeisholik" target="blank"><img src="i/fb.png" title="Facebook"></a>
  </div>
</div>

{% include common_epilogue.html %}
