---
title: Projects
---

{% include common_prologue.html %}
{% include navbar.html %}

<div class="container">

<h2>Games</h2>

<div class="proj-container">
  <p><a name="airjump" class="proj-name" href="http://itunes.apple.com/us/app/air-jump/id452007001?mt=8" target="blank">Air Jump</a>. A side-scrolling platformer with infinitely long gameplay and character building. The game is available on the App Store (<a href="http://www.youtube.com/watch?v=E1KMK3JiNig" target="blank">trailer</a>).</p>
  <div class="work-tags"><strong>tags</strong>: ios sdk, objective-c, python, pyqt, cocos2d</div>
</div>

<div class="proj-container">
  <p><a name="stone" class="proj-name black">The Stone of Destiny</a> (<a href="http://itunes.apple.com/us/app/the-stone-of-destiny/id290657880?mt=8" target="blank">iPhone</a> | <a href="http://itunes.apple.com/us/app/the-stone-of-destiny-hd/id364797888?mt=8" target="blank">iPad</a>). The first game in the hidden-object genre to hit the App Store shortly after its launch in 2008 (<a href="http://www.youtube.com/watch?v=-jjD_NZzGXU" target="blank">trailer</a>). An extended version was released for the iPad in 2010 featuring complete UI redesign and a few additional features like achievements and Facebook integration (<a href="http://www.youtube.com/watch?v=RiHWqCYaYc4" target="blank">trailer</a>).</p>
  <div class="work-tags"><strong>tags</strong>: ios sdk, c, objective-c, opengl es, graphics programming</div>
</div>

<h2>Open Source</h2>

<div class="proj-container">
  <p><span class="proj-name"><a href="https://github.com/alco/runparam#readme" target="blank">runparam</a></span> <span class="lib-list">(WIP)</span>. Development toolkit that allows developers to make their apps and games easily customizable at run time. Currently supports iOS.</p>
  <div class="work-tags"><strong>tags</strong>: objective-c, python, ios, fun</div>
</div>

<div class="proj-container">
  <p><span class="proj-name"><a href="https://github.com/alco/numspell/tree/develop#readme" target="blank">numspell</a></span> <span class="lib-list">(WIP)</span>. Number speller with data-driven approach to extensibility. The basic idea is that the users of numspell are provided with a definition language allowing them to describe a set of spelling rules for any natural language that will be compatible with all current and future implementations of the spelling algorithm.</p>
  <div class="work-tags"><strong>tags</strong>: python, data-driven development, numbers</div>
</div>

<div class="proj-container">
  <p><span class="proj-name"><a href="https://github.com/elixir-lang/elixir" target="blank">Elixir</a></span>. Elixir is a young programming language originally conceived by José Valim in the early 2011. It is built on top of the Erlang VM which is famous for its concurrent design, scalability, and fault-tolerance. I have been actively participating in Elixir's development since the end of March 2012, contributing to the language's core, standard library, documentation, and <a href="http://elixir-lang.org/blog/" target="blank">blog.</a></p>
  <div class="work-tags"><strong>tags</strong>: erlang, web dev, programming language</div>
</div>

</div>

{% include common_epilogue.html %}
