---
title: Résumé
---

{% include common_prologue.html %}
{% include navbar.html %}

<div class="container">

<h2>Experience / Employment History</h2>

<h3>Open source <small>(ongoing)</small></h3>
<h4>Position: generalist developer</h4>

<p>Contributing to open source projects is my passion and an endless source of enjoyment I find in programming. Follow me on <a href="https://github.com/alco/">GitHub</a>.</p>

<div class="work-tags"><strong>tags</strong>: objective-c, c++, python, elixir, go, javascript, clojure, english</div>

<h3>Frogwares <small>(May–November 2012)</small></h3>
<h4>Position: iOS Developer, Game Engine and Graphics Programmer</h4>

<p>My responsibilities at Frogwares included dealing with everything iOS related, specifically the following.</p>

<ul>
  <li>They used a proprietary framework to port PC games to iOS, and my responsibility was to fix stuff that did not work and write stuff that was not supported by the framework: integrating 3rd party libs written in Objective-C; adding support for Game Center, In-App purchases; proper sound management and so on.</li>
  <li>Develop and maintain a build server for iOS projects (written in Python).</li>
  <li>Support legacy 3D engine ported from PC to iOS by another company. Fix graphics bugs that appeared during the porting process (this included advising modelers and texture artists; tweaking shaders and OpenGL ES code).</li>
  <li>Optimize the engine code (C++) and scripted game logic (Lua) to improve startup times and frame rate.</li>
</ul>

<p>Among the projects I've worked with were: <a href="https://itunes.apple.com/us/app/sherlock-holmes-awakened-hd/id506124343?l=es&mt=8">Sherlock Holmes: The Awakened</a>, <a href="https://itunes.apple.com/gb/app/sherlock-holmes-hound-baskervilles/id507548105?mt=8">Sherlock Holmes and the Hound of the Baskervilles</a>, <a href="https://itunes.apple.com/us/app/dracula-love-kills-collectors/id585810943?mt=8">Dracula: Love Kills</a>.

<div class="work-tags"><strong>tags</strong>: ios, objective-c, c++, game engine, python, graphics programming</div>


<h3>Avallon Alliance Ltd. <small>(2009–2012)</small></h3>
<h4>Position: iOS Developer / Game Programmer</h4>

<p>I have worked with the guys at Avallon both by telecommuting and in their office. Among the responsibilities I had, the major ones were:</p>

<ul>
  <li>Working on all aspects of game development from a prototype to a finished product. At one point I was writing a custom 2D graphics engine; at another occasion I was building development tools that helped streamlining level design, UI design, and the process of tweaking game mechanics on the fly.</li>
  <li>Maintaining and updating released projects of the company to ensure compatibility with new iOS versions.</li>
  <li>Writing libraries that simplified integration with social networks and other proprietary APIs used in a number of the company's projects.</li>
</ul>

<p>I was also the sole developer (in a team of five) for the <a href="projects.html#airjump">Air Jump</a> game currently available on the App Store. I used cocos2d as a graphics engine and implemented the entire game logic in Objective-C.</p>

<div class="work-tags"><strong>tags</strong>: ios sdk, objective-c, python, pyqt, cocos2d</div>

<h3>Voodoo Dimention <small>(summer 2008)</small></h3>
<h4>Position: iOS Developer / Game Engine Programmer</h4>

My task was to port <a href="http://www.bigfishgames.com/download-games/1736/stone-of-destiny-game/index.html" target="blank">The Stone of Destiny</a> (a hidden-object/puzzle game for PC) to the iPhone platform. I did a complete rewrite of the game including the graphics engine it used (the original PC game had been developed using the Blitz3D engine). Being the sole developer for the project (in a distributed team comprised of the original developer, an artist, and myself), my responsibilities included:</p>
<ul>
  <li>Building a 3D engine from scratch. It supported polygonal mesh rendering, texture blending, lighting, key-frame animation, camera control, scene hierarchy, etc.</li>
  <li>Writing a B3D loader (which I did mainly in C). B3D was a file format used by Blitz3D, capable of storing complex 3D scenes with animations.</li>
  <li>Building all of the game logic in Objective-C.</li>
  <li>Actively participating in the process of redesigning the UI to fit the platform form-factor. Things like the main menu dialogs, the map view, animated transitions in the comics — those were my ideas that made it into the final product.</li>
</ul>

<p>Two years later the game was also ported to iPad. This time, I was responsible for implementing a redesigned UI, adding achievements and implementing a tight integration with Facebook (a feature called "Friend's help").</p>

<p>Both iPhone and iPad version of the game are available on the App Store. Take a look at the <a href="projects.html#stone">Projects</a> page to find App Store links and watch the trailers.</p>

<div class="work-tags"><strong>tags</strong>: ios sdk, c, objective-c, opengl es, game engine, graphics programming</div>

<h2>Strong Skills</h2>

<p>These are the skills I have been applying in professional development and that I'm ready to put to work starting today. I'm also a fast learner when it comes to picking up new languages and tools.</p>

<ul>
  <li><strong>Objective-C <span class="lib-list">(iOS SDK)</span></strong>. I have been developing for the iOS platform since the first beta of the SDK which came out in 2008. I have an intimate knowledge of the platform and the Objective-C language, the Foundation framework, memory-management conventions, runtime system, dev tools, etc. I'm also familiar with the C language.</li>
  <li><strong>C, C++</strong>. I've been dealing with C and C++ since around 2005 and have worked with projects written in both.</li>
  <li><strong>Python <span class="lib-list">(PyQt)</span></strong>. I've been using Python since around 2008 for most of my personal work as well as for building GUI tools, automating stuff, etc.</li>
  <li><strong>Shell scripting</strong>. I deal with terminal on a daily basis, using shell scripting and UNIX utilities for automating repetitive tasks.</li>
  <li><strong>Graphics APIs <span class="lib-list">(OpenGL (ES), SDL)</span></strong>. I know OpenGL quite well, having used it since my school years. I have a strong knowledge of its fundamental concepts, extension mechanism, buffers, and shaders. I've also had some experience with HGE and SexyApp Framework (also known as PopCap game framework). I've worked with multiple in-house graphics engines over the years.</li>
</ul>

<h2>Active Skills</h2>

<p>These are the skills I'm currently working on and have great interest in. Haven't got a chance to apply them in development of a big fat project yet.</p>

<ul>
  <li><strong>Elixir & Erlang VM</strong>. Being a contributor to the Elixir language and its standard library, I'm also rapidly picking up knowledge of Erlang and its awesome features.</li>
  <li><strong>Go, Rust</strong>. I've being playing around with Go and Rust programming languages recently, exploring their approach to concurrency and safety and evaluating their suitability for low-level (or systems) as well as high-level (or application) programming.</li>
</ul>

<h2>Education</h2>

<p>BS in Applied Mathematics (with elements of Computer Science) from the <a href="http://inter.kpi.ua/">National Technical University of Ukraine "Kyiv Polytechnic Institute"</a> (also known as KPI). Years of study: 2006–2010.</p>

<h2>Other Things</h2>

<ul>
  <li>I have a good command of English, some knowledge of español and know a little bit of 日本語 and italiano.</li>
  <li>Science fiction is my favourite book genre. Fantasy is my second favourite genre.</li>
  <li>I like playing various tabletop games, family board games, and ping pong.</li>
  <li>I enjoy drawing, playing the guitar and piano and trying out various handicrafts from time to time.</li>
  <!--<li>I'm passionate about visual design.</li>-->
</ul>

<h2>Contact</h2>

<p>You can reach me at <a href="mailto:alcosholik@gmail.com">alcosholik@gmail.com</a>.</p>

</div>

{% include common_epilogue.html %}
